body{
    background-color: #F05B56;
}

/* navbar */

span{
    color: #FFFFFF;
}

.fa-check-circle{
    color: #FFFFFF;
}

#pbar {
    border-bottom: solid black 0.5px;
    margin: 0 auto;
    height: 20px;
    margin-bottom: 20px;
    width: 40%;
    min-width: 260px;
}

#upper {
    width: 30%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
    border-radius: 6px;
    padding: 20px 0 30px;
    margin-bottom: 20px;
    min-width: 260px;
}

#timer-type-buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#duration {
    background: rgba(0, 0, 0, 0);
    border: none;
    font-size: 80px;
    font-weight: bold;
    margin-top: 20px;
    color: rgba(255, 255, 255,255);
    text-align: center;
  
}

#time-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.pomodoro{
    background-color: #F05B56;
}

.short-break{
    background-color: #4CA6AA;
}

.long-break {
    background-color: #498FC1;
}


#timer-type-label{
    text-align: center;
    color: #FFFFFF;
}

.pompdoro-btn{
    color: #FFFFFF;
    background-color: #CC5B59;
    border: none;
    border-radius: 4px;
}

.short-break-btn{
    color: #FFFFFF;
    background-color: #4F9597;
    border: none;
    border-radius: 4px;
}

.long-break-btn{
    color: #FFFFFF;
    background-color:#4E83A9;
    border: none;
    border-radius: 4px;
}

.reset{
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    border-radius: 4px;
}

button:focus {
    outline: none;
    box-shadow: none;
  }

